body{
    font-family:'Roboto',sans-serif;
    background-color:oldlace;
}

h1{
    margin: 40px;
    size: 20px;
}

/*Clases*/
.fecha{
    font-size: 20px;
}

.jumbotron{
    background-color:oldlace;
}

.jumbotron p{
    font-size: 20px;
    margin: 20px;
}

.noticia{
    padding-top: 10px;
}

.imagen_big{
    border-radius: 25px;    
}

.imagen_mid{

    border-radius: 10%; 
    margin: 0px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.titular{
    display: inline-table;
    font-size: 40px;
    margin-left: 7px;
}

/*IDs*/

#botonCargaAutomatica{
    left: 0;
    padding: 10px;
    float: right;
    font-size: 20px;
}

#botonCargar{
    height: 30px;
    width: 100%;
}

#cabecera{
    height: 200px;
}

#contenido{
    padding-right: 340px;
    background-color: blanchedalmond;
}

#divBotonCargarMas{
    margin: 30px;
    width: 100%;
}

#framePubliMovil{
    display: none;
}

#framePubliPc{
    width: 300px;
    height: 600px;  
}

#publicidadPc{
    position: absolute;
    right: 0px;
    width: 300px;
    height: 600px;  
    margin: 15px;
    display: block;
}



#titularPrincipal{
    display: inline-flex;
    text-align: center;
}

#titularPrincipal.a{
    padding-left: 10px;
}

/************************************************************/
/************************************************************/
/***************************MÓVIL****************************/
/************************************************************/
/************************************************************/

@media(max-width:768px){
   
    h1{
        margin: 40px;
        font-size: 27px;
    }
 
    p{
        margin: 6px;
    }
 
     /*Clases*/
    .jumbotron{
        background-color:blanchedalmond;
    }
 
    .noticia{
        padding-top: 10px;
    }
 
    .imagen{
        border-width:5px;  
        border-style:inset;
        border-color:#111997;
 
        height: 250px;
        width: 350px; 
        margin: 0px;
    }
 
    .row{
        display: flex;
        flex-wrap: wrap;
    }
 
    .titular{
       display: inline-table;
       font-size: 27px;
       margin-bottom: 50px;
    }

    /*IDs*/
 
    #botonCarga{
        height: 30px;
        width: 700px;
    }
 
    #cabecera{
        height: 200px;
    }
 
    #contenido{
        padding-right: 0;
        background-color: blanchedalmond;
    }
 
    #divBotonCargarMas{
        margin: 30px;
        display: none;
    }

    #framePubliPc{
        display: none;  
    }

    #framePubliMovil{
        padding-left: 25%;
        width: 320px;
        height: 100px;  
        display: block;
    }
    
 
    #publicidadPc{
       display: none;
    }
}
